body {
  margin: 0;
  padding: 0;
  background-color: #0f1117;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 60px;
  margin-bottom: 30px;
  color: white;
}

input,
select {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  width: 180px;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
}

.result {
  margin-top: 30px;
}

.result h2 {
  font-size: 40px;
  color: #facc15;
}

.result h3 {
  font-size: 32px;
}

.chart-container {
  width: 400px;
  margin: auto;
  margin-top: 40px;
}